/* make the customizations */
$theme-colors: (
    "info": tomato,
    "danger": teal
);

$body-bg: #eeeeee;
$light: #eeeeee;
/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";